.App {
  text-align: center;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: 0px auto;
}

th, td {
  text-align: center;
  padding: 12px;
}

th {
  background-color: #b2b2b2;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}